version: '3.9'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    networks:
      - web-net
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "80"
    networks:
      - web-net
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend:/usr/src/app
    working_dir: /usr/src/app
    command: python app.py
    expose:
      - "5000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - web-net
      - internal-net
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis
    expose:
      - "6379"
    networks:
      - internal-net
    restart: unless-stopped

networks:
  web-net:
    driver: bridge
  internal-net:
    driver: bridge
